.item{
    display: flex;
    width: 100%;
    height: 12vh;
    align-items: center;
    /* border-style: inset; */
    background-color: #f7f7f7;
    justify-content: space-between;
}

.img{
    height: 100%;
    width: 8em;
    object-fit: cover;
}

.details{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.price, .quantity, .delete{
    /* width: 100%; */
    /* font-size: 1.5em; */
    /* margin-bottom: 0.2em; */
    text-align: right;
}

.name{
    margin-bottom: 0.2em;
    font-size: 1.5em;
}

.delete:hover{
    cursor: pointer;
}